[Unit]
Description=Builds and install new kmods from akmod packages
After=syslog.target
Before=prefdm.service

[Service]
Type=oneshot
ExecStart=-/usr/sbin/akmods --from-init

[Install]
WantedBy=multi-user.target
