[Unit]
Description=Building and installing kmods for kernel %i

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-inhibit --who=akmods --why="Building kernel modules" /usr/sbin/akmods --from-kernel-posttrans --kernels %i
